{% extends 'base.html.twig' %}

{% block title %}Direction{% endblock %}

{% block body %}
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ direction.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ direction.designation }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary mb-5" href="{{ path('app_direction_index') }}">Retour</a>

    <a class="btn btn-secondary mb-5" href="{{ path('app_direction_edit', {'id': direction.id}) }}">Modifier</a>

    {{ include('direction/_delete_form.html.twig') }}
{% endblock %}
