{% extends 'list.html.twig' %}

{% block title %}Liste des airpon clients{% endblock %}

{% block body %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
            <div class="alert alert-{{ type }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="d-flex align-items-center justify-content-end my-2">
        <a href="{{ path("app_airpon_client_new") }}" class="btn btn-primary">Créer</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Port</th>
                <th>Longueur</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for airpon_client in airpon_clients %}
            <tr>
                <td>{{ airpon_client.id }}</td>
                <td>{{ airpon_client.port }}</td>
                <td>{{ airpon_client.longueur }}</td>
                <td>{{ airpon_client.date ? airpon_client.date|date('Y-m-d  ') : '' }}</td>
                <td>
                    <a class="me-2 btn btn-primary" href="{{ path('app_airpon_client_show', {'id': airpon_client.id}) }}">Afficher</a>
                    <a class="me-2 btn btn-primary" href="{{ path('app_airpon_client_edit', {'id': airpon_client.id}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
