{% extends 'list.html.twig' %}

{% block title %}Liste des boxes{% endblock %}

{% block body %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
            <div class="alert alert-{{ type }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="d-flex align-items-center justify-content-end my-2">
        <a href="{{ path("app_box_new") }}" class="btn btn-primary">Créer</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Gps</th>
                <th>Adresse</th>
                <th>DateInstallation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for box in boxes %}
            <tr>
                <td>{{ box.id }}</td>
                <td>{{ box.gps }}</td>
                <td>{{ box.adresse }}</td>
                <td>{{ box.dateInstallation ? box.dateInstallation|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="me-2 btn btn-primary" href="{{ path('app_box_show', {'id': box.id}) }}">Afficher</a>
                    <a class="me-2 btn btn-primary" href="{{ path('app_box_edit', {'id': box.id}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
