{% extends 'list.html.twig' %}

{% block title %}Liste des types Olt{% endblock %}

{% block body %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
            <div class="alert alert-{{ type }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="d-flex align-items-center justify-content-end my-2">
        <a href="{{ path("app_type_olt_new") }}" class="btn btn-primary">Créer</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_olt in type_olts %}
            <tr>
                <td>{{ type_olt.id }}</td>
                <td>{{ type_olt.name }}</td>
                <td>
                    <a class="me-2 btn btn-primary" href="{{ path('app_type_olt_show', {'id': type_olt.id}) }}">Afficher</a>
                    <a class="me-2 btn btn-primary" href="{{ path('app_type_olt_edit', {'id': type_olt.id}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
